.detailContent {
  position: relative;
  display: flex;
  flex: 1 1 calc(100% - 25px);
  background-color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}

img {
  object-fit: contain;
  width: 200px;
  height: 160px;
}

.content {
  position: relative;
}

.detailContent:nth-child(4) {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0);
}

.content {
  padding-bottom: 1rem;
}

.detailContent {
  display: grid;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
}

p {
  white-space: nowrap;
}
